In [9]:
import pandas as pd 
import numpy as np 
import json 
import matplotlib.pyplot as plt 
%matplotlib inline

In [10]:
import random 
import requests
from bs4 import BeautifulSoup
import json

In [11]:
url = 'https://www.imdb.com/chart/top'
response = requests.get(url)

type(response.text)

str

In [12]:
#Raw html data 
#response.text

In [15]:
soup = BeautifulSoup(response.text, 'html.parser')

In [8]:
#soup

In [17]:
type(soup)

bs4.BeautifulSoup

In [18]:
movietags = soup.select('td.titleColumn')

In [10]:
#movietags[0]

Making Api Calls

In [1]:
api_key = "69ad870bdcbbf9cc540c7a4e4d400bed"

In [13]:
response = requests.get('https://api.themoviedb.org/3/movie/550?api_key=69ad870bdcbbf9cc540c7a4e4d400bed')

In [9]:
#response.text

In [16]:
soup = BeautifulSoup(response.text, "html.parser")

In [8]:
#print(soup.prettify())

In [26]:
print(soup.children)

<list_iterator object at 0x7f9b76895e48>

In [27]:
#Webscrape ESPN

In [28]:
response2 = requests.get('https://www.espn.com/nfl/team/roster/_/name/buf')

In [29]:
response2.status_code

200

In [30]:
bills = BeautifulSoup(response2.text, 'html.parser')

In [7]:
#bills

In [39]:
type(bills)

bs4.BeautifulSoup

In [40]:
something = bills.select('id.fitt-analytics')

In [41]:
something

[]

In [1]:
import requests
from bs4 import BeautifulSoup
import json

In [2]:
response = requests.get('https://www.imdb.com/chart/top/?ref_=nv_mv_250')

In [3]:
response.status_code

200

In [4]:
soup = BeautifulSoup(response.text, 'html.parser')

In [6]:
#soup

In [5]:
#print(soup.prettify())

In [4]:
#print(list(soup.children))

In [9]:
print(soup.find_all('p'))

[<p>The Top Rated Movie list only includes theatrical features.</p>, <p class="imdb-footer__copyright _2-iNNCFskmr4l2OFN2DRsf">Â© 1990-<!-- -->2020<!-- --> by IMDb.com, Inc.</p>]

In [3]:
#print(soup.select('td.titleColumn'))

In [11]:
movietags = soup.select('td.titleColumn')

In [14]:
movietags[0]

<td class="titleColumn">
      1.
      <a href="/title/tt0111161/" title="Frank Darabont (dir.), Tim Robbins, Morgan Freeman">The Shawshank Redemption</a>
<span class="secondaryInfo">(1994)</span>
</td>

In [1]:
inner_movietags = soup.select('td.titleColumn a')
#inner_movietags

NameError: name 'soup' is not defined

In [25]:
actors_1 = inner_movietags[0]['title']
actors_1

'Frank Darabont (dir.), Tim Robbins, Morgan Freeman'

In [54]:
actor_list = []
for i in range(len(inner_movietags)): 
    actor_list.append([i, inner_movietags[i]['title']])

In [2]:
#actor_list

In [58]:
import pandas as pd 
from pandas import DataFrame

In [65]:
actors_df = DataFrame(actor_list, columns=['Director', 'Starting 1'])

In [67]:
actors_df

     Director                                         Starting 1
0           0  Frank Darabont (dir.), Tim Robbins, Morgan Fre...
1           1  Francis Ford Coppola (dir.), Marlon Brando, Al...
2           2  Francis Ford Coppola (dir.), Al Pacino, Robert...
3           3  Christopher Nolan (dir.), Christian Bale, Heat...
4           4      Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb
..        ...                                                ...
245       245  Gillo Pontecorvo (dir.), Brahim Hadjadj, Jean ...
246       246  James Cameron (dir.), Arnold Schwarzenegger, L...
247       247      Naoko Yamada (dir.), Miyu Irino, Saori Hayami
248       248  Zaza Urushadze (dir.), Lembit Ulfsak, Elmo NÃ¼g...
249       249  Ron Clements (dir.), Scott Weinger, Robin Will...

[250 rows x 2 columns]

In [28]:
movie_title_1 = inner_movietags[0].text
movie_title_1

'The Shawshank Redemption'

In [17]:
year = soup.select('span.secondaryInfo')

In [30]:
year_one = year[0].text

In [31]:
year_one

'(1994)'

In [43]:
rating_tags = soup.select('td.posterColumn span[name=ir]')

In [49]:
rating_tags[0]['data-value']

'9.222805040597486'

In [50]:
ratings_list = []

250

In [13]:
import requests 
import json
import pandas as pd

In [14]:
movie_db = requests.get('https://api.themoviedb.org/3/movie/550?api_key=69ad870bdcbbf9cc540c7a4e4d400bed')

In [15]:
movie_db.status_code

200

In [16]:
movie_db = json.loads(movie_db.text)

In [17]:
#movie_db

In [18]:
# for key in movie_db.keys(): 
#     print(key)

In [19]:
movie_title = movie_db['title']
movie_title

'Fight Club'

In [20]:
flight_club_info = {'title': movie_db['title'], 'budget': movie_db['budget'], 'revenue': movie_db['revenue'], 'popularity': movie_db['popularity']}

In [21]:
flight_club_info

{'title': 'Fight Club',
 'budget': 63000000,
 'revenue': 100853753,
 'popularity': 36.25}

In [22]:
pd.DataFrame.from_dict(flight_club_info, orient='index')

                     0
title       Fight Club
budget        63000000
revenue      100853753
popularity       36.25

Top Rated Movies

In [23]:
top_rated = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=69ad870bdcbbf9cc540c7a4e4d400bed&language=en-US&page=1')

In [90]:
#top-rated.status_code 
#top_rated.text

In [27]:
top_rated_json = json.loads(top_rated.text)

In [28]:
top_rated_json.keys()

dict_keys(['page', 'total_results', 'total_pages', 'results'])

In [40]:
top_rated_json

{'page': 1,
 'total_results': 7977,
 'total_pages': 399,
 'results': [{'popularity': 9.567,
   'id': 724089,
   'video': False,
   'vote_count': 924,
   'vote_average': 8.9,
   'title': "Gabriel's Inferno Part II",
   'release_date': '2020-07-31',
   'original_language': 'en',
   'original_title': "Gabriel's Inferno Part II",
   'genre_ids': [10749],
   'backdrop_path': '/jtAI6OJIWLWiRItNSZoWjrsUtmi.jpg',
   'adult': False,
   'overview': "Professor Gabriel Emerson finally learns the truth about Julia Mitchell's identity, but his realization comes a moment too late. Julia is done waiting for the well-respected Dante specialist to remember her and wants nothing more to do with him. Can Gabriel win back her heart before she finds love in another's arms?",
   'poster_path': '/pci1ArYW7oJ2eyTo2NMYEKHHiCP.jpg'},
  {'popularity': 10.597,
   'vote_count': 1541,
   'video': False,
   'poster_path': '/oyG9TL7FcRP4EZ9Vid6uKzwdndz.jpg',
   'id': 696374,
   'adult': False,
   'backdrop_path': '/969BfPHGJcjg2aUv60g5uiiXFzf.jpg',
   'original_language': 'en',
   'original_title': "Gabriel's Inferno",
   'genre_ids': [10749],
   'title': "Gabriel's Inferno",
   'vote_average': 8.8,
   'overview': "An intriguing and sinful exploration of seduction, forbidden love, and redemption, Gabriel's Inferno is a captivating and wildly passionate tale of one man's escape from his own personal hell as he tries to earn the impossible--forgiveness and love.",
   'release_date': '2020-05-29'},
  {'popularity': 19.288,
   'vote_count': 257,
   'video': False,
   'poster_path': '/riAooJrFvVhotyaOgoI0WR7okSe.jpg',
   'id': 644479,
   'adult': False,
   'backdrop_path': '/8g1rUabKleLvovt0Sx6bXgWfC42.jpg',
   'original_language': 'es',
   'original_title': 'Dedicada a mi ex',
   'genre_ids': [35, 18],
   'title': 'Dedicated to my ex',
   'vote_average': 8.7,
   'overview': 'The film tells the story of Ariel, a 21-year-old who decides to form a rock band to compete for a prize of ten thousand dollars in a musical band contest, this as a last option when trying to get money to save their relationship and reunite with his ex-girlfriend, which breaks due to the trip she must make to Finland for an internship. Ariel with her friend Ortega, decides to make a casting to find the other members of the band, although they do not know nothing about music, thus forming a band with members that have diverse and opposite personalities.',
   'release_date': '2019-11-01'},
  {'popularity': 55.873,
   'vote_count': 17496,
   'video': False,
   'poster_path': '/5KCVkau1HEl7ZzfPsKAPM0sMiKc.jpg',
   'id': 278,
   'adult': False,
   'backdrop_path': '/iNh3BivHyg5sQRPP1KOkzguEX0H.jpg',
   'original_language': 'en',
   'original_title': 'The Shawshank Redemption',
   'genre_ids': [18, 80],
   'title': 'The Shawshank Redemption',
   'vote_average': 8.7,
   'overview': 'Framed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.',
   'release_date': '1994-09-23'},
  {'popularity': 12.878,
   'vote_count': 2419,
   'video': False,
   'poster_path': '/2CAL2433ZeIihfX1Hb2139CX0pW.jpg',
   'id': 19404,
   'adult': False,
   'backdrop_path': '/svYzz6A6xleZv5toTLAhigXd1DX.jpg',
   'original_language': 'hi',
   'original_title': 'à¤¦à¤¿à¤²à¤µà¤¾à¤²à¥ à¤¦à¥à¤²à¥à¤¹à¤¨à¤¿à¤¯à¤¾ à¤²à¥ à¤à¤¾à¤¯à¥à¤à¤à¥',
   'genre_ids': [35, 18, 10749],
   'title': 'Dilwale Dulhania Le Jayenge',
   'vote_average': 8.7,
   'overview': 'Raj is a rich, carefree, happy-go-lucky second generation NRI. Simran is the daughter of Chaudhary Baldev Singh, who in spite of being an NRI is very strict about adherence to Indian values. Simran has left for India to be married to her childhood fiancÃ©. Raj leaves for India with a mission at his hands, to claim his lady love under the noses of her whole family. Thus begins a saga.',
   'release_date': '1995-10-20'},
  {'popularity': 41.016,
   'vote_count': 13239,
   'video': False,
   'poster_path': '/3bhkrj58Vtu7enYsRolD1fZdja1.jpg',
   'id': 238,
   'adult': False,
   'backdrop_path': '/rSPw7tgCH9c6NqICZef4kZjFOQ5.jpg',
   'original_language': 'en',
   'original_title': 'The Godfather',
   'genre_ids': [18, 80],
   'title': 'The Godfather',
   'vote_average': 8.7,
   'overview': 'Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.',
   'release_date': '1972-03-14'},
  {'popularity': 34.175,
   'id': 424,
   'video': False,
   'vote_count': 10535,
   'vote_average': 8.6,
   'title': "Schindler's List",
   'release_date': '1993-11-30',
   'original_language': 'en',
   'original_title': "Schindler's List",
   'genre_ids': [18, 36, 10752],
   'backdrop_path': '/loRmRzQXZeqG78TqZuyvSlEQfZb.jpg',
   'adult': False,
   'overview': 'The true story of how businessman Oskar Schindler saved over a thousand Jewish lives from the Nazis while they worked as slaves in his factory during World War II.',
   'poster_path': '/c8Ass7acuOe4za6DhSattE359gr.jpg'},
  {'popularity': 127.751,
   'id': 372058,
   'video': False,
   'vote_count': 6602,
   'vote_average': 8.6,
   'title': 'Your Name.',
   'release_date': '2016-08-26',
   'original_language': 'ja',
   'original_title': 'åã®åã¯ã',
   'genre_ids': [10749, 16, 18],
   'backdrop_path': '/mMtUybQ6hL24FXo0F3Z4j2KG7kZ.jpg',
   'adult': False,
   'overview': 'High schoolers Mitsuha and Taki are complete strangers living separate lives. But one night, they suddenly switch places. Mitsuha wakes up in Takiâs body, and he in hers. This bizarre occurrence continues to happen randomly, and the two must adjust their lives around each other.',
   'poster_path': '/q719jXXEzOoYaps6babgKnONONX.jpg'},
  {'popularity': 30.941,
   'vote_count': 7858,
   'video': False,
   'poster_path': '/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg',
   'id': 240,
   'adult': False,
   'backdrop_path': '/poec6RqOKY9iSiIUmfyfPfiLtvB.jpg',
   'original_language': 'en',
   'original_title': 'The Godfather: Part II',
   'genre_ids': [18, 80],
   'title': 'The Godfather: Part II',
   'vote_average': 8.6,
   'overview': 'In the continuing saga of the Corleone crime family, a young Vito Corleone grows up in Sicily and in 1910s New York. In the 1950s, Michael Corleone attempts to expand the family business into Las Vegas, Hollywood and Cuba.',
   'release_date': '1974-12-20'},
  {'popularity': 54.105,
   'id': 129,
   'video': False,
   'vote_count': 10377,
   'vote_average': 8.5,
   'title': 'Spirited Away',
   'release_date': '2001-07-20',
   'original_language': 'ja',
   'original_title': 'åã¨åå°ã®ç¥é ã',
   'genre_ids': [16, 10751, 14],
   'backdrop_path': '/mSDsSDwaP3E7dEfUPWy4J0djt4O.jpg',
   'adult': False,
   'overview': 'A young girl, Chihiro, becomes trapped in a strange new world of spirits. When her parents undergo a mysterious transformation, she must call upon the courage she never knew she had to free her family.',
   'poster_path': '/2TeJfUZMGolfDdW6DKhfIWqvq8y.jpg'},
  {'popularity': 113.512,
   'vote_count': 9683,
   'video': False,
   'poster_path': '/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg',
   'id': 496243,
   'adult': False,
   'backdrop_path': '/ApiBzeaa95TNYliSbQ8pJv4Fje7.jpg',
   'original_language': 'ko',
   'original_title': 'ê¸°ìì¶©',
   'genre_ids': [35, 53, 18],
   'title': 'Parasite',
   'vote_average': 8.5,
   'overview': "All unemployed, Ki-taek's family takes peculiar interest in the wealthy and glamorous Parks for their livelihood until they get entangled in an unexpected incident.",
   'release_date': '2019-05-30'},
  {'popularity': 293.06,
   'vote_count': 469,
   'video': False,
   'poster_path': '/zGVbrulkupqpbwgiNedkJPyQum4.jpg',
   'id': 592350,
   'adult': False,
   'backdrop_path': '/9guoVF7zayiiUq5ulKQpt375VIy.jpg',
   'original_language': 'ja',
   'original_title': 'åã®ãã¼ã­ã¼ã¢ã«ããã¢ THE MOVIE ãã¼ã­ã¼ãºï¼ã©ã¤ã¸ã³ã°',
   'genre_ids': [16, 28],
   'title': 'My Hero Academia: Heroes Rising',
   'vote_average': 8.5,
   'overview': "Class 1-A visits Nabu Island where they finally get to do some real hero work. The place is so peaceful that it's more like a vacation â¦ until they're attacked by a villain with an unfathomable Quirk! His power is eerily familiar, and it looks like Shigaraki had a hand in the plan. But with All Might retired and citizens' lives on the line, there's no time for questions. Deku and his friends are the next generation of heroes, and they're the island's only hope.",
   'release_date': '2019-12-20'},
  {'popularity': 40.61,
   'vote_count': 11202,
   'video': False,
   'poster_path': '/velWPhVMQeQKcxggNEU8YmIo52R.jpg',
   'id': 497,
   'adult': False,
   'backdrop_path': '/5Nz25DPXfQaSpDgce42Y3kFg9G4.jpg',
   'original_language': 'en',
   'original_title': 'The Green Mile',
   'genre_ids': [14, 18, 80],
   'title': 'The Green Mile',
   'vote_average': 8.5,
   'overview': "A supernatural tale set on death row in a Southern prison, where gentle giant John Coffey possesses the mysterious power to heal people's ailments. When the cell block's head guard, Paul Edgecomb, recognizes Coffey's miraculous gift, he tries desperately to help stave off the condemned man's execution.",
   'release_date': '1999-12-10'},
  {'popularity': 6.116,
   'vote_count': 282,
   'video': False,
   'poster_path': '/zGGWYpiKNwjpKxelPxOMqJnUgDs.jpg',
   'id': 42269,
   'adult': False,
   'backdrop_path': '/bh6yfB6I1N1WuMiX6K5HxGVZnja.jpg',
   'original_language': 'it',
   'original_title': "C'eravamo tanto amati",
   'genre_ids': [35, 18],
   'title': 'We All Loved Each Other So Much',
   'vote_average': 8.5,
   'overview': 'Gianni, Nicola and Antonio become close friends in 1944 while fighting the Nazis. After the end of the war, full of illusions, they settle down. The movie is a the story of the life of these three idealists and how they deal with the inevitable disillusionments of life.',
   'release_date': '1974-12-21'},
  {'popularity': 44.685,
   'vote_count': 19858,
   'video': False,
   'poster_path': '/plnlrtBUULT0rh3Xsjmpubiso3L.jpg',
   'id': 680,
   'adult': False,
   'backdrop_path': '/w7RDIgQM6bLT7JXtH4iUQd3Iwxm.jpg',
   'original_language': 'en',
   'original_title': 'Pulp Fiction',
   'genre_ids': [53, 80],
   'title': 'Pulp Fiction',
   'vote_average': 8.5,
   'overview': "A burger-loving hit man, his philosophical partner, a drug-addled gangster's moll and a washed-up boxer converge in this sprawling, comedic crime caper. Their adventures unfurl in three stories that ingeniously trip back and forth in time.",
   'release_date': '1994-09-10'},
  {'popularity': 79.157,
   'vote_count': 494,
   'video': False,
   'poster_path': '/8mRgpubxHqnqvENK4Bei30xMDvy.jpg',
   'id': 537061,
   'adult': False,
   'backdrop_path': '/re3ZvlKJg04iLpLRf1xTKHS2wLU.jpg',
   'original_language': 'en',
   'original_title': 'Steven Universe: The Movie',
   'genre_ids': [28, 12, 16, 35, 18, 14, 10402, 10751],
   'title': 'Steven Universe: The Movie',
   'vote_average': 8.5,
   'overview': 'Two years after the events of "Change Your Mind", Steven (now 16 years old) and his friends are ready to enjoy the rest of their lives peacefully. However, all of that changes when a new sinister Gem arrives, armed with a giant drill that saps the life force of all living things on Earth. In their biggest challenge ever, the Crystal Gems must work together to save all organic life on Earth within 48 hours.',
   'release_date': '2019-09-02'},
  {'popularity': 32.122,
   'id': 637,
   'video': False,
   'vote_count': 9457,
   'vote_average': 8.5,
   'title': 'Life Is Beautiful',
   'release_date': '1997-12-20',
   'original_language': 'it',
   'original_title': 'La vita Ã¨ bella',
   'genre_ids': [35, 18],
   'backdrop_path': '/6aNKD81RHR1DqUUa8kOZ1TBY1Lp.jpg',
   'adult': False,
   'overview': 'A touching story of an Italian book seller of Jewish ancestry who lives in his own little fairy tale. His creative and happy life would come to an abrupt halt when his entire family is deported to a concentration camp during World War II. While locked up he tries to convince his son that the whole thing is just a game.',
   'poster_path': '/74hLDKjD5aGYOotO6esUVaeISa2.jpg'},
  {'popularity': 55.459,
   'id': 122,
   'video': False,
   'vote_count': 16515,
   'vote_average': 8.5,
   'title': 'The Lord of the Rings: The Return of the King',
   'release_date': '2003-12-01',
   'original_language': 'en',
   'original_title': 'The Lord of the Rings: The Return of the King',
   'genre_ids': [12, 14, 28],
   'backdrop_path': '/9DeGfFIqjph5CBFVQrD6wv9S7rR.jpg',
   'adult': False,
   'overview': "Aragorn is revealed as the heir to the ancient kings as he, Gandalf and the other members of the broken fellowship struggle to save Gondor from Sauron's forces. Meanwhile, Frodo and Sam take the ring closer to the heart of Mordor, the dark lord's realm.",
   'poster_path': '/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg'},
  {'popularity': 43.018,
   'vote_count': 19200,
   'video': False,
   'poster_path': '/clolk7rB5lAjs41SD0Vt6IXYLMm.jpg',
   'id': 13,
   'adult': False,
   'backdrop_path': '/7c9UVPPiTPltouxRVY6N9uugaVA.jpg',
   'original_language': 'en',
   'original_title': 'Forrest Gump',
   'genre_ids': [35, 18, 10749],
   'title': 'Forrest Gump',
   'vote_average': 8.5,
   'overview': 'A man with a low IQ has accomplished great things in his life and been present during significant historic eventsâin each case, far exceeding what anyone imagined he could do. But despite all he has achieved, his one true love eludes him.',
   'release_date': '1994-07-06'},
  {'popularity': 22.464,
   'id': 311,
   'video': False,
   'vote_count': 3263,
   'vote_average': 8.5,
   'title': 'Once Upon a Time in America',
   'release_date': '1984-05-23',
   'original_language': 'en',
   'original_title': 'Once Upon a Time in America',
   'genre_ids': [18, 80],
   'backdrop_path': '/z1s7ASlypXYGeMLoJ2Np4CpWdzd.jpg',
   'adult': False,
   'overview': 'A former Prohibition-era Jewish gangster returns to the Lower East Side of Manhattan over thirty years later, where he once again must confront the ghosts and regrets of his old life.',
   'poster_path': '/hBDHr3YihnuL46aeyEMhTchXkZP.jpg'}]}

In [29]:
len(top_rated_json)

4

In [30]:
top_movies = top_rated_json['results']

In [39]:
top_rated_json['page']

1

In [31]:
len(top_movies)

20

In [32]:
top_movies = pd.DataFrame(top_rated_json['results'])

In [41]:
top_movies

,popularity,id,video,vote_count,vote_average,title,release_date,original_language,original_title,genre_ids,backdrop_path,adult,overview,poster_path
0,9.567,724089,False,924,8.9,Gabriel's Inferno Part II,2020-07-31,en,Gabriel's Inferno Part II,[10749],/jtAI6OJIWLWiRItNSZoWjrsUtmi.jpg,False,Professor Gabriel Emerson finally learns the t...,/pci1ArYW7oJ2eyTo2NMYEKHHiCP.jpg
1,10.597,696374,False,1541,8.8,Gabriel's Inferno,2020-05-29,en,Gabriel's Inferno,[10749],/969BfPHGJcjg2aUv60g5uiiXFzf.jpg,False,An intriguing and sinful exploration of seduct...,/oyG9TL7FcRP4EZ9Vid6uKzwdndz.jpg
2,19.288,644479,False,257,8.7,Dedicated to my ex,2019-11-01,es,Dedicada a mi ex,"[35, 18]",/8g1rUabKleLvovt0Sx6bXgWfC42.jpg,False,"The film tells the story of Ariel, a 21-year-o...",/riAooJrFvVhotyaOgoI0WR7okSe.jpg
3,55.873,278,False,17496,8.7,The Shawshank Redemption,1994-09-23,en,The Shawshank Redemption,"[18, 80]",/iNh3BivHyg5sQRPP1KOkzguEX0H.jpg,False,Framed in the 1940s for the double murder of h...,/5KCVkau1HEl7ZzfPsKAPM0sMiKc.jpg
4,12.878,19404,False,2419,8.7,Dilwale Dulhania Le Jayenge,1995-10-20,hi,à¤¦à¤¿à¤²à¤µà¤¾à¤²à¥ à¤¦à¥à¤²à¥à¤¹à¤¨à¤¿à¤¯à¤¾ à¤²à¥ à¤à¤¾à¤¯à¥à¤à¤à¥,"[35, 18, 10749]",/svYzz6A6xleZv5toTLAhigXd1DX.jpg,False,"Raj is a rich, carefree, happy-go-lucky second...",/2CAL2433ZeIihfX1Hb2139CX0pW.jpg
5,41.016,238,False,13239,8.7,The Godfather,1972-03-14,en,The Godfather,"[18, 80]",/rSPw7tgCH9c6NqICZef4kZjFOQ5.jpg,False,"Spanning the years 1945 to 1955, a chronicle o...",/3bhkrj58Vtu7enYsRolD1fZdja1.jpg
6,34.175,424,False,10535,8.6,Schindler's List,1993-11-30,en,Schindler's List,"[18, 36, 10752]",/loRmRzQXZeqG78TqZuyvSlEQfZb.jpg,False,The true story of how businessman Oskar Schind...,/c8Ass7acuOe4za6DhSattE359gr.jpg
7,127.751,372058,False,6602,8.6,Your Name.,2016-08-26,ja,åã®åã¯ã,"[10749, 16, 18]",/mMtUybQ6hL24FXo0F3Z4j2KG7kZ.jpg,False,High schoolers Mitsuha and Taki are complete s...,/q719jXXEzOoYaps6babgKnONONX.jpg
8,30.941,240,False,7858,8.6,The Godfather: Part II,1974-12-20,en,The Godfather: Part II,"[18, 80]",/poec6RqOKY9iSiIUmfyfPfiLtvB.jpg,False,In the continuing saga of the Corleone crime f...,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg
9,54.105,129,False,10377,8.5,Spirited Away,2001-07-20,ja,åã¨åå°ã®ç¥é ã,"[16, 10751, 14]",/mSDsSDwaP3E7dEfUPWy4J0djt4O.jpg,False,"A young girl, Chihiro, becomes trapped in a st...",/2TeJfUZMGolfDdW6DKhfIWqvq8y.jpg
10,113.512,496243,False,9683,8.5,Parasite,2019-05-30,ko,ê¸°ìì¶©,"[35, 53, 18]",/ApiBzeaa95TNYliSbQ8pJv4Fje7.jpg,False,"All unemployed, Ki-taek's family takes peculia...",/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg
11,293.060,592350,False,469,8.5,My Hero Academia: Heroes Rising,2019-12-20,ja,åã®ãã¼ã­ã¼ã¢ã«ããã¢ THE MOVIE ãã¼ã­ã¼ãºï¼ã©ã¤ã¸ã³ã°,"[16, 28]",/9guoVF7zayiiUq5ulKQpt375VIy.jpg,False,Class 1-A visits Nabu Island where they finall...,/zGVbrulkupqpbwgiNedkJPyQum4.jpg
12,40.610,497,False,11202,8.5,The Green Mile,1999-12-10,en,The Green Mile,"[14, 18, 80]",/5Nz25DPXfQaSpDgce42Y3kFg9G4.jpg,False,A supernatural tale set on death row in a Sout...,/velWPhVMQeQKcxggNEU8YmIo52R.jpg
13,6.116,42269,False,282,8.5,We All Loved Each Other So Much,1974-12-21,it,C'eravamo tanto amati,"[35, 18]",/bh6yfB6I1N1WuMiX6K5HxGVZnja.jpg,False,"Gianni, Nicola and Antonio become close friend...",/zGGWYpiKNwjpKxelPxOMqJnUgDs.jpg
14,44.685,680,False,19858,8.5,Pulp Fiction,1994-09-10,en,Pulp Fiction,"[53, 80]",/w7RDIgQM6bLT7JXtH4iUQd3Iwxm.jpg,False,"A burger-loving hit man, his philosophical par...",/plnlrtBUULT0rh3Xsjmpubiso3L.jpg
15,79.157,537061,False,494,8.5,Steven Universe: The Movie,2019-09-02,en,Steven Universe: The Movie,"[28, 12, 16, 35, 18, 14, 10402, 10751]",/re3ZvlKJg04iLpLRf1xTKHS2wLU.jpg,False,"Two years after the events of ""Change Your Min...",/8mRgpubxHqnqvENK4Bei30xMDvy.jpg
16,32.122,637,False,9457,8.5,Life Is Beautiful,1997-12-20,it,La vita Ã¨ bella,"[35, 18]",/6aNKD81RHR1DqUUa8kOZ1TBY1Lp.jpg,False,A touching story of an Italian book seller of ...,/74hLDKjD5aGYOotO6esUVaeISa2.jpg
17,55.459,122,False,16515,8.5,The Lord of the Rings: The Return of the King,2003-12-01,en,The Lord of the Rings: The Return of the King,"[12, 14, 28]",/9DeGfFIqjph5CBFVQrD6wv9S7rR.jpg,False,Aragorn is revealed as the heir to the ancient...,/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg
18,43.018,13,False,19200,8.5,Forrest Gump,1994-07-06,en,Forrest Gump,"[35, 18, 10749]",/7c9UVPPiTPltouxRVY6N9uugaVA.jpg,False,A man with a low IQ has accomplished great thi...,/clolk7rB5lAjs41SD0Vt6IXYLMm.jpg
19,22.464,311,False,3263,8.5,Once Upon a Time in America,1984-05-23,en,Once Upon a Time in America,"[18, 80]",/z1s7ASlypXYGeMLoJ2Np4CpWdzd.jpg,False,A former Prohibition-era Jewish gangster retur...,/hBDHr3YihnuL46aeyEMhTchXkZP.jpg

In [54]:
new_movies_df = top_movies[(top_movies['release_date'].str.startswith('201'))]

In [55]:
new_movies_df

,popularity,id,video,vote_count,vote_average,title,release_date,original_language,original_title,genre_ids,backdrop_path,adult,overview,poster_path
2,19.288,644479,False,257,8.7,Dedicated to my ex,2019-11-01,es,Dedicada a mi ex,"[35, 18]",/8g1rUabKleLvovt0Sx6bXgWfC42.jpg,False,"The film tells the story of Ariel, a 21-year-o...",/riAooJrFvVhotyaOgoI0WR7okSe.jpg
7,127.751,372058,False,6602,8.6,Your Name.,2016-08-26,ja,åã®åã¯ã,"[10749, 16, 18]",/mMtUybQ6hL24FXo0F3Z4j2KG7kZ.jpg,False,High schoolers Mitsuha and Taki are complete s...,/q719jXXEzOoYaps6babgKnONONX.jpg
10,113.512,496243,False,9683,8.5,Parasite,2019-05-30,ko,ê¸°ìì¶©,"[35, 53, 18]",/ApiBzeaa95TNYliSbQ8pJv4Fje7.jpg,False,"All unemployed, Ki-taek's family takes peculia...",/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg
11,293.060,592350,False,469,8.5,My Hero Academia: Heroes Rising,2019-12-20,ja,åã®ãã¼ã­ã¼ã¢ã«ããã¢ THE MOVIE ãã¼ã­ã¼ãºï¼ã©ã¤ã¸ã³ã°,"[16, 28]",/9guoVF7zayiiUq5ulKQpt375VIy.jpg,False,Class 1-A visits Nabu Island where they finall...,/zGVbrulkupqpbwgiNedkJPyQum4.jpg
15,79.157,537061,False,494,8.5,Steven Universe: The Movie,2019-09-02,en,Steven Universe: The Movie,"[28, 12, 16, 35, 18, 14, 10402, 10751]",/re3ZvlKJg04iLpLRf1xTKHS2wLU.jpg,False,"Two years after the events of ""Change Your Min...",/8mRgpubxHqnqvENK4Bei30xMDvy.jpg

In [56]:
import matplotlib.pyplot as plt 
%matplotlib inline

In [1]:
Y = new_movies_df.vote_average
X = new_movies_df.title

fig, ax = plt.subplots()
ax.scatter(X, Y, );

fig, ax = plt.subplots()
ax.bar(x,y, color = 'pink')
ax.set_title('average tip amount for time')
ax.set_xticks([0,1])
ax.set_xticklabels(['lunch','dinner'])

NameError: name 'new_movies_df' is not defined

In [60]:
api_key ="69ad870bdcbbf9cc540c7a4e4d400bed"

In [61]:
response2 = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={api_key}&language=en-US')

NameError: name 'movie_id' is not defined